.productHead{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom,gold,orange);
    min-height: 5vh;
}
.productBody{
    background-image: linear-gradient(to bottom, black, grey);
    min-height: 60vh;
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows:2vh 30vh auto ;
    padding: 2vw;
    grid-gap: 2vw;
    .span{
        grid-column: 1/3;
        color: gold;
        background-color: transparent;
        text-align: center;
    }
    div {
        background-color: #a8a8a8;
        border-radius: 5px;
        box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: .1),
                        0 0 5px 0 rgba($color: #000000, $alpha: .9);
        
    }
    .mainImage{
        grid-row: 2/4;
        height: 70vh;
        position: sticky;
        top: 2vh;
        overflow: hidden;
        
        .toshow{
            position: absolute;
            height: 70vh;
            max-width: 200%;
            min-width: 100%;
            bottom: 5vh;
            left: 50%;
            transform: translateX(-50%);
        }
        .backss{
            position: absolute;
            bottom: 0;
        }
        .backss1{
            position: absolute;
            fill: black;
            cursor: pointer;
            width: 50%;
            bottom: 1vh;
            left: 50%;
            transform: translateX(-50%);
        }
        .backss1:hover{
            background-color: black;
            border-radius: 5px;
            fill: gold;
        }
    }
    .majorDetails{
        display: flex;
        div{
            height: 90%;
            width: 15%;
            overflow: hidden;
            position: relative;
            margin: auto 0 auto 1vw;
        }
        div img{
            position: absolute;
            height: 100%;
            width: auto;
            max-width: 200%;
            min-width: 100%;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
    .detailsSpe{
       padding: 1vw;
       .bg-transparent{
           background: transparent;
           .button{
               p{
                   margin: 0 auto;
               }
               cursor: pointer;
               background-color: goldenrod;
               font-weight: bolder;
               border-radius: 10px;
           }
           .button:hover{
               background-color: gold;
               text-align: center;
           }
       }
    }
}