#topMenu{
    display: grid;
    grid-template-columns: 5% 1fr 7fr;
    position: absolute;
    top: 3vh;
    width: 100%;
    height: 7vh;
    z-index: 1;
    .backedd{
      background-image: linear-gradient(to bottom, rgba(230, 160, 10, 1), rgba(255,215,0,1));
    }
    .logoss{
      position: relative;
      img {
        position: absolute;
        height: 20vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .longedd{
      display: grid;
      grid-template-columns: 7fr 1fr 1fr;
      text-align: center;
      align-items: center;
      ion-searchbar{
          width: 80%;
          margin-left: 2vw;
      }
      span { 
        display: flex;
        cursor: pointer;
      }
      justify-content: space-around;
      svg{
        height: 4vh;
        margin: 1vh 4vw;
        cursor: pointer;
      }
      .cartCont{
        display: flex;
        
        position: relative;
        p {
          position: absolute;
          top: 5%;
          right: 42%;
        }
      }
    }
  }
.mainBody346{
    position: relative;
    display: grid;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgb(104, 104, 104));
    grid-template-columns: 1fr 3fr;
    grid-template-rows:20vh auto ;
    padding: 18vh 2vw 7vh 2vw;
    grid-row-gap: 2vw;
    grid-column-gap: 2vw;
    .listCat{
        grid-column: 1/3;
        width: 100%;
        div{
          display: flex;
          app-lighter{
            height: 25;
            width: 7vw;
            min-width: 30px;
          }
        }
    }
    div{
        text-align: center;
        background-color: #a8a8a8;
        margin: 0 auto;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px 0 rgba($color: #a8a8a8, $alpha: .1),
                    0 0 10px 0 rgba($color: #4b4b4b, $alpha: .9);
    }
    .advertit {
        display: flex;
        height: 70vh;
        width:100%;
        grid-row: 1/3;
        overflow: visible;
        position: relative;
        .advertMee{
            height: 70vh;
            box-shadow: none;
            width: 100%;
            position: absolute;
            overflow: hidden;
            display: inline-block;
            left: -200%;
            z-index: 100;
            transform: rotate(3deg) rotateY(-45deg);
            
          p{
              position: absolute;
              bottom: 10%;
              left:15%;
              
          }
          .sp{
              position: absolute;
              bottom: 3%;
              left: 60%;
              font-size: 1.2vw; 
              color: wheat;
          }
          .pp,.picc{
              position: absolute;
              bottom: 6%;
              left: 50%; 
              font-size: large;
              height: 3%;
              color: rgb(124, 133, 143);
          }
          
            .igmmm{
                height: 70vh;
                position: absolute;
                width: auto;
                top: 30vh;
                max-width: 200%;
                min-width: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .igmmm1{
                position: absolute;
                bottom: 0;
                left: 0;
                
            }
            
        }
    }
    .secondPuss {
      width: 100%;
      position: relative;
      overflow: hidden;
      div {
        position: absolute;
        display: flex;
        app-lighter{
          margin: 1vw;
          height: 25vh;
          width: 9vw;
          display: block;
       }
      }
      
    }
    .firstCat{
        width: 100%;
        
        .title345{
            display: flex;
            justify-content: space-between;
            border-radius: 0px;
            .slide456{
                width: 25%;
                border-radius: 0px;
                background-color: goldenrod;
                font-size: small;
            }
        }
    }
}
#teke1{
  animation: teke1 25s ease-out infinite reverse;
}
#teke2{
  animation: teke2 25s ease-out infinite reverse;
}
#teke3{
  animation: teke3 25s ease-out infinite reverse;
}
#teke4{
  animation: teke4 25s ease-out infinite reverse;
}
#teke5{
  animation: teke5 25s ease-out infinite reverse;
}
@keyframes teke1 {
  0%{
    left: -200%;
    transform: rotate(3deg) rotateY(-45deg) scale(1.2);
    top: 30%;
  }
  12%{
    left: -200%;
    transform: rotate(0deg) rotateX(-45deg) scale(1.4);
    top: 30%;
  }
  // real time
  15%{
    left: 0;
    transform: rotate(-3deg) rotateY(5deg) scale(1);
    top: 0%;
     
  }
  17%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
     
  }
  90%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
    opacity: 1;
     
  }
  91%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.2);
    opacity: 0;
     
  }
  100%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.2);
    opacity: 1;
  }
}
@keyframes teke2 {
  0%{
    left: -200%;
    transform: rotate(3deg) rotateY(-45deg) scale(1.2);
    top: 30%;
     
  }
  28%{
    left: -200%;
    transform: rotate(0deg) rotateY(-45deg) scale(1.4);
    top: 30%;
     
  }
  // real time
  30%{
    left: 0;
    transform: rotate(-3deg) rotateY(5deg) scale(1);
    top: 0%;
     
  }
  32%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
     
  }
  89%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
    opacity: 1;

     
  }
  91%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.2);
    opacity: 0;
     
  }
  100%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.5);
    opacity: 1;
     
  }
}
@keyframes teke3 {
  0%{
    left: -200%;
    transform: rotate(0deg) rotateY(-45deg) scale(1.2);
    top: 30%;
     
  }
  42%{
    left: -200%;
    transform: rotate(0deg) rotateY(-45deg) scale(1.4);
    top: 30%;
     
  }
  // real time
  45%{
    left: 0;
    transform: rotate(-3deg) rotateY(5deg) scale(1);
    top: 0%;
     
  }
  47%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
     
  }
  88%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
    opacity: 1;
     
  }
  91%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.2);
    opacity: 0;
     
  }
  100%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.5);
    opacity: 1;
     
  }
}
@keyframes teke4 {
  0%{
    left: -200%;
    transform: rotate(0deg) rotateY(-45deg) scale(1.2);
    top: 30%;
     
  }
  58%{
    left: -200%;
    transform: rotate(0deg) rotateY(-45deg) scale(1.4);
    top: 30%;
     
  }
  // real time
  60%{
    left: 0;
    transform: rotate(-3deg) rotateY(5deg) scale(1);
    top: 0%;
     
  }
  62%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
     
  }
  87%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
    opacity: 1;
     
  }
  91%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.2);
    opacity: 0;
     
  }
  100%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.5);
    opacity: 1;
  }
}
@keyframes teke5 {
  0%{
    left: -200%;
    transform: rotate(0deg) rotateY(-45deg) scale(1.2);
    top: 30%;
     
  }
  72%{
    left: -200%;
    transform: rotate(0deg) rotateY(-45deg) scale(1.4);
    top: 30%;
     
  }
  // real time
  75%{
    left: 0;
    transform: rotate(-3deg) rotateY(5deg) scale(1);
    top: 0%;
     
  }
  77%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
     
  }
  86%{
    left: 0;
    transform: rotate(0) rotateY(0) scale(1);
    top: 0%;
    opacity: 1;
  }
  91%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.2);
    opacity: 0;
  }
  100%{
    left: -200%;
    top: -200%;
    transform: rotate(300deg) rotateY(-45deg) scale(1.2);
    opacity: 1;
  }
}

